<h1>Round: {{ currentRound + 1 }}</h1>
<div class="game">
    <div class="player-box">
        <div class="player-name" [class.has-turn]="player1.hasTurn" [class.is-winner]="player1.isWinner">
            {{ player1.turnNumber }} - {{ player1.name }}
        </div>
        <div class="player-dice-box">
            <div *ngFor="let die of player1.diceList">
                <app-die [dieValue]="die.faceValue"></app-die>
            </div>
        </div>
        <div>Score: {{ player1.totalScore }}</div>
    </div>
    <div class="middle-row">
        <div class="player-box">
            <div class="player-name" [class.has-turn]="player4.hasTurn" [class.is-winner]="player4.isWinner">
                {{ player4.turnNumber }} - {{ player4.name }}
            </div>
            <div class="player-dice-box">
                <div *ngFor="let die of player4.diceList">
                    <app-die [dieValue]="die.faceValue"></app-die>
                </div>
            </div>
            <div>Score: {{ player4.totalScore }}</div>
        </div>
        <div class="game-table">
            <div *ngFor="let die of diceToRollList">
                <app-die [class.shake]="die.shake" id="die{{die.id}}" [dieValue]="die.faceValue"></app-die>
            </div>
        </div>
        <div class="player-box">
            <div class="player-name" [class.has-turn]="player2.hasTurn" [class.is-winner]="player2.isWinner">
                {{ player2.turnNumber }} - {{ player2.name }}
            </div>
            <div class="player-dice-box">
                <div *ngFor="let die of player2.diceList">
                    <app-die [dieValue]="die.faceValue"></app-die>
                </div>
            </div>
            <div>Score: {{ player2.totalScore }}</div>
        </div>
    </div>
    <div class="player-box">
        <div class="player-name" [class.has-turn]="player3.hasTurn" [class.is-winner]="player3.isWinner">
            {{ player3.turnNumber }} - {{ player3.name }}
        </div>
        <div class="player-dice-box">
            <div *ngFor="let die of player3.diceList">
                <app-die [dieValue]="die.faceValue"></app-die>
            </div>
        </div>
        <div>Score: {{ player3.totalScore }}</div>
    </div>
</div>

<button (click)="playGame()">Start Game</button>