<div class="game">
    <div class="player-box">
        <div class="player-name" [ngClass]="{'has-turn' : player1.hasTurn}">{{ player1.name }}</div>
        <div class="player-dice-box">
            <div #player1D1Pos class="die-placeholder"></div>
            <div #player1D2Pos class="die-placeholder"></div>
            <div #player1D3Pos class="die-placeholder"></div>
            <div #player1D4Pos class="die-placeholder"></div>
        </div>
    </div>
    <div class="middle-row">
        <div class="player-box">
            <div class="player-name" [ngClass]="{'has-turn' : player2.hasTurn}">{{ player4.name }}</div>
            <div class="player-dice-box">
                <div #player4D1Pos class="die-placeholder"></div>
                <div #player4D2Pos class="die-placeholder"></div>
                <div #player4D3Pos class="die-placeholder"></div>
                <div #player4D4Pos class="die-placeholder"></div>
            </div>
        </div>
        <div class="game-table">
            <div *ngFor="let die of diceList">
                <app-die [dieValue]="die.value"></app-die>
            </div>
        </div>
        <div class="player-box">
            <div class="player-name" [ngClass]="{'has-turn' : player2.hasTurn}">{{ player2.name }}</div>
            <div class="player-dice-box">
                <div #player2D1Pos class="die-placeholder"></div>
                <div #player2D2Pos class="die-placeholder"></div>
                <div #player2D3Pos class="die-placeholder"></div>
                <div #player2D4Pos class="die-placeholder"></div>
            </div>
        </div>
    </div>
    <div class="player-box">
        <div class="player-name" [ngClass]="{'has-turn' : player2.hasTurn}">{{ player3.name }}</div>
        <div class="player-dice-box">
            <div #player3D1Pos class="die-placeholder"></div>
            <div #player3D2Pos class="die-placeholder"></div>
            <div #player3D3Pos class="die-placeholder"></div>
            <div #player3D4Pos class="die-placeholder"></div>
        </div>
    </div>
</div>

<button (click)="rollDice()">Roll Dice</button>