h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.game {
    text-align: center;
}
.game-table {
    border: 2px solid #000;
    background-color: #4d3121;
    width: 380px;
    height: 200px;
    display: inline-block; 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-box {
    min-height: 120px;
    width: 300px;
    border: 1px solid #7b7b7b;
    display: inline-block;
    background-color: #f3f3f3;
}
.player-dice-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.middle-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-name {
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px;
}
.has-turn {
    color: #fff;
    background-color: green;
}
.die-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #ccc;
}
.is-winner {
    color: #fff;
    background-color: goldenrod;
}
.play-button-container {
    text-align: center;
    button {
        background-color: #3490ea;
        color: #fff;
        border: 0;
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;
        top: 18px;
        right: 94px;
        position: absolute;
        &:hover {
            background: #3b97f3;
        }
    }
}
.winner-text {
    text-align: center;
    margin-top: -20px;
    font-size: 24px;
    margin-bottom: 15px;
}