.die {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid rgb(48, 48, 48);
}

.one {
    background-image: url(/assets/images/dice_face_1.png);
}

.two {
    background-image: url(/assets/images/dice_face_2.png);
}

.three {
    background-image: url(/assets/images/dice_face_3.png);
}

.four {
    background-image: url(/assets/images/dice_face_4.png);
}

.five {
    background-image: url(/assets/images/dice_face_5.png);
}

.six {
    background-image: url(/assets/images/dice_face_6.png);
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }